@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");/*!

body  {
	font-family: Lato,​'Helvetica Neue',​Helvetica,​Arial,​sans-serif;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid;
}
+
/* Youtube width=100% */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}