---
layout: page
title : Edit / Create / Delecte Content ...
header : 
comments: false
---
{% raw %}

    <div style="padding-bottom:15px" ng-controller="ImportExportCtrl" class="containter">
        <div class="row">
			<h1>Export</h1>
		</div>
		<div class="row">
			<button type="button" class="col-md-2 btn btn-danger btn-middle" ng-click="zip()">Export</button>
			<div class="col-md-10">
				<progressbar class="progress-striped active" value="exportStatus" type="{{type}}" >{{processingPostNr}} / {{maxValue}}</progressbar>
			</div>
		</div>
		<table>
			<th>Post</th>
			<th><a href="" ng-click="selectAll()">Select All</th></th>
            <tr ng-repeat="(key, value) in export">  
				<td>
					<div ng-click="showContent(value)">{{value}}</div>
				</td>
                <td>
                    <input type = "checkbox" id="{{key}}" name="selection[]" value="{{value}}" ng-click="toggleExportSelection(value)"/>
                </td>
            </tr>
        </table>
        
		<h1>Import</h1>
        <div class="row">
            <input type="file" multiple="" name="file" id="file" onchange="angular.element(this).scope().add(this)">
        </div>
        <button type="button" class="btn btn-danger btn-middle" ng-click="doImport()">Import Selected</button>
        <table>
            <tr ng-repeat="(key, user) in import">
                <td>
					<div ng-click="showContent(key)">{{key}}</div>
				</td>
                <td>
                    <input type = "checkbox" id="{{key}}" name="selection[]" value="{{key}}" ng-click="toggleSelection(key)"/>
                </td>
            </tr>
        </table>
	
{% endraw %}