---
layout: page
title : Edit / Create / Delecte Content ...
header : 
comments: false
---
{% raw %}

    <div style="padding-bottom:15px" ng-controller="ImportExportCtrl" class="containter">
        <div style="margin-top: 0px" class="page-header">
            <h1 style="float:left">Export</small></h1>
            <div style="padding-top:25px;text-align:right">
                <button type="button" class="btn btn-danger btn-middle" ng-click="zip()">Export</button>
            </div>
        </div>
        <h1>Import</h1>
        <div class="row">
            <input type="file" multiple="" name="file" id="file" onchange="angular.element(this).scope().add(this)">
        </div>
        <button type="button" class="btn btn-danger btn-middle" ng-click="doImport()">Import Selected</button>
        <table>
            <tr ng-repeat="(key, user) in import">
                <td>{{key}}</td>
                <td>
                    <input type = "checkbox" id="{{key}}" ng-model="selection" value="{{key}}" ng-click="toggleSelection({{key}})"/>
                </td>
            </tr>
        </table>
	
{% endraw %}