---
layout: page
title : Fork...
header : Create a clone...
comments: false
---
{% raw %}

    <div style="padding-bottom:15px" ng-controller="GithubEditCtrl">
        <h1>Edit</h1>
        <div class="col-md-3">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" id="date"/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="title" ng-model="options.title">
        </div>
        <div class="clearfix"></div>
        <textarea id="target-editor" style="display:none;"></textarea>
    </div>
	
{% endraw %}