---
layout: page
title : Edit / Create / Delecte Content ...
header : 
comments: false
---
{% raw %}

    <div style="padding-bottom:15px" ng-controller="GithubEditCtrl" class="containter">
        <div style="margin-top: 0px" class="page-header">
            <h1 style="float:left">Edit</small></h1>
            <div style="padding-top:25px;text-align:right">
                <button ng-cloak type="button" class="btn btn-danger btn-middle" ng-click="delete()" ng-hide="options.isNewContent">Delete</button>
				<!-- Placeholder to make the line fit -->
				<div ng-show="options.isNewContent" style="font-size:25px">&nbsp;</div>
            </div>
        </div>
		<div class="clearfix"></div>
        <div>
		<div class="col-sm-12">
            <form name="editForm" class="form" role="form">
				<div class="row">
					<div class="col-xs-12 col-md-4 form-group">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="options.date" is-open="opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" id="date" />
						</div>
					</div>
					<div class="col-xs-12 col-md-8 form-group">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-hand-right"></span></span>
							<input type="text" class="form-control" id="title" ng-model="options.title" placeholder="Title" required/>
						</div>
					</div>
				</div>
			    <textarea id="target-editor" style="display:none;color:#464545;"></textarea>
				<br />
				<button ng-disabled="(editForm.$dirty && editForm.$invalid)" ng-click="save(editForm.$pristine)" class="btn btn-primary pull-right" type="button" disabled="disabled">
					Submit
				</button>
				<br />
			</form>
		</div>
        {{yaml}}
    </div>
	
{% endraw %}