---
layout: page
title : Fork...
header : Create a clone...
comments: false
---
{% raw %}

    <div style="padding-bottom:15px" ng-controller="GithubEditCtrl" class="containter">
        <h1>Edit</h1>
        <div>
            <form class="form-horizontal" role="form">
                <div class="form-group col-md-6">
                      <label for="date" class="control-label">Date</label>
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" id="date"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" class="form-control" id="title" ng-model="options.title">
                 </div>
            </form>
        </div>

        <div class="clearfix"></div>
        <textarea id="target-editor" style="display:none;"></textarea>
    </div>
	
{% endraw %}