---
layout: page
title : Edit Config
header : Frontend Configuration
comments: false
---
{% raw %}

    <div ng-controller="ConfigCtrl">
        <div style="text-align:right"><a href="?path={{page.path}}&url={{page.url}}" class="btn btn-danger btn-middle">Delete <i class="icon-white icon-pencil"></i></a></div>
        <h1>Edit Frontend Configuration</h1>
        <div ng-repeat="(key, value) in inputs">
            <h2>{{key|uppercase}}</h2>
			<form class="form-horizontal" role="form" >
				<div class="form-group" ng-repeat="(key2, value2) in value">
					<label for="{{key2}}" class="col-sm-2 control-label">{{key2}}</label>
					<div class="col-sm-10">
						<input placeholder="{{value2}}" id="{{key2}}" class="form-control" ng-model="newValue" ng-change="setOutput(key, key2, newValue)">
					</div>
				</div>
			</form>
        </div>
		<div class="container col-sm-12" style="margin-top:15px;margin-bottom:15px">
			<button class='btn btn-warning pull-right' ng-click="githubCommit()">Commit to GitHub</button>
		</div>
    </div>

{% endraw %}