---
layout: page
title : Fork...
header : Create a clone...
comments: false
---
{% raw %}

    <div ng-controller="GithubForkCtrl">
        <h1>Make a clone for you!</h1>
        <div>Create a copy of this site on your own GitHub account. After the clone is ready you can create/edit your own content on your page. If you dive into you can even customize the page because you have complete control over all sources. Try it...</div>
        <h2>Instructions</h2>
        <div>Login to this page with your GitHub account. Enter the name of your blog (xyz.github.com) and a page slogan. Click on fork...</div>
        <div class="form-group">
            <label for="forkName" class="col-md-3 control-label">Name of your blog</label>
            <input type="url" class="col-md-9 form-control" ng-model="options.forkName" id="forkName" placeholder="xyz.github.com"/>
        </div>
        <div class="form-group">
            <label for="forkName" class="col-md-3 control-label">Slogn of your site</label>
            <input type="text" class="col-md-9 form-control" ng-model="options.forkSlogan" id="forkSlogan" placeholder="Enter your site slogan"/>
        </div>
		<div class="container col-sm-12" style="margin-top:15px;margin-bottom:15px">
			
			<button class='btn btn-warning pull-left' ng-click="fork()">Create a Fork</button>
		
		</div> 
    </div>
	
{% endraw %}