---
layout: page
title : Fork...
header : Create a clone...
comments: false
---
{% raw %}

    <div ng-controller="GithubForkCtrl">
        <h1>Make a clone for you!</h1>
        <p>Create a copy of this site on your own GitHub account. After the clone is ready you can create/edit your own content on your page. If you dive into you can even customize the page because you have complete control over all sources. Try it...</p>
        <h2>Instructions</h2>
        <p>
			Login to this page with your GitHub account. Enter the name of your blog (xyz.github.com) and a page slogan. Click on fork... The status bar should go to 80% very fast. This means 
			everything is fine. It then waits for GitHub to render the page which can take up to 10 minutes (normally it is faster).
		</p>
		<p>
			After your page is ready you can revoke the permission to access the repository in your github account settings...
		</p>
		<form class="form-horizontal" role="form">
			<fieldset>

			<!-- Form Name -->
			<legend>Fork options</legend>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label col-sm-2" style="text-align:left;" for="pageName">Page name</label>
			  <div class="controls col-sm-10">
					<input id="pageName" name="pageName" ng-model="options.forkName"  ng-model-options="{ debounce: 2000 }" ng-change="checkUnique()" placeholder="xyz.github.io" class="form-control" required="" type="text" ng-disabled="true">
					<p class="help-block">This will be the address of your blog (please check if the address is available). <span class="text-danger">WARNING: Make sure you don't already have a repository with this name in your account - otherwise the master branch of that will get deleted...</p>
			  </div>
			</div>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label col-sm-2" style="text-align:left;" for="pageSlogan">Slogan</label>
			  <div class="controls col-sm-10">
				<input id="pageSlogan" name="pageSlogan" ng-model="options.forkSlogan" placeholder="Yihaaaa" class="form-control" required="" type="text">
				<p class="help-block">Text in the upper left corner</p>
			  </div>
			</div>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label col-sm-2" style="text-align:left;" for="authorName">Your Name</label>
			  <div class="controls col-sm-10">
				<input id="authorName" name="authorName" ng-model="options.forkRealName" placeholder="placeholder" class="form-control" type="text">
				<p class="help-block">Provide your real name or use your alias</p>
			  </div>
			</div>

			<!-- Select Basic -->
			<div class="control-group">
			  <label class="control-label col-sm-2" style="text-align:left;" for="theme">Theme</label>
			  <div class="controls col-sm-10">
				<select id="theme" name="theme" class="form-control" ng-init="options.selectedTheme = options.availableThemes[0]" ng-model="options.selectedTheme" ng-options="c.name for c in options.availableThemes"></select>
				<p class="help-block">Themes are from <a href="http://bootswatch.com" target="_blank">http://bootswatch.com</a></p>
			  </div>
			</div>

			<div class="row">
				<div class="container col-sm-2" >
					<button class='btn btn-warning pull-left' ng-click="fork()" style="margin-top:15px;margin-bottom:15px">Create a Fork</button>
				</div>
				<div class="progress progress-striped active container col-sm-9" ng-hide="success" style="left: 30px; margin-top:20px;margin-bottom:15px; padding:0px">
				  <div class="progress-bar" style="width: {{progress}}%"></div>
				</div>
				<div ng-cloak class="container col-sm-10 ng-hide" ng-show="success">
					<h4 style="padding-left:10px;padding-top:10px;" class="text-success">Successful!!! Please visit <a href="https://{{options.forkName}}" target="_blank">{{options.forkName}}</a></h4>
				</div>
			</div>
			</fieldset>
		</form>
	</div>
	
	
{% endraw %}