---
layout: page
title : Fork...
header : Create a clone...
comments: false
---
{% raw %}

    <div ng-controller="GithubForkCtrl">
        <h1>Make a clone for you!</h1>
        <div>Create a copy of this site on your own GitHub account. After the clone is ready you can create/edit your own content on your page. If you dive into you can even customize the page because you have complete control over all sources. Try it...</div>
        <h2>Instructions</h2>
        <div>Login to this page with your GitHub account. Enter the name of your blog (xyz.github.com) and a page slogan. Click on fork...</div>
		
		<form class="form-horizontal">
			<fieldset>

			<!-- Form Name -->
			<legend>Fork options</legend>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="pageName">Page name</label>
			  <div class="controls">
				<input id="pageName" name="pageName" ng-model="options.forkName"  ng-model-options="{ debounce: 2000 }" ng-change="checkUnique()" placeholder="xyz.github.io" class="input-large" required="" type="text">
				<p class="help-block">This will be the address of your blog</p>
			  </div>
			</div>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="pageSlogan">Slogan</label>
			  <div class="controls">
				<input id="pageSlogan" name="pageSlogan" ng-model="options.forkSlogan" placeholder="Yihaaaa" class="input-large" required="" type="text">
				<p class="help-block">Text in the upper left cornder</p>
			  </div>
			</div>

			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="authorName">Your Name</label>
			  <div class="controls">
				<input id="authorName" name="authorName" ng-model="options.forkRealName" placeholder="placeholder" class="input-large" type="text">
				<p class="help-block">Provide your real name or use your alias</p>
			  </div>
			</div>

			<!-- Select Basic -->
			<div class="control-group">
			  <label class="control-label" for="theme">Theme</label>
			  <div class="controls">
				<select id="theme" name="theme" class="input-large" ng-init="" ng-model="options.selectedTheme" ng-options="c.name for c in options.availableThemes"></select>
			  </div>
			</div>

			<div class="container col-sm-12" style="margin-top:15px;margin-bottom:15px">
				<button class='btn btn-warning pull-left' ng-click="fork()">Create a Fork</button>
			</div>
			
			</fieldset>
		</form>
	</div>
	
	
{% endraw %}