<!-- only show this block, if there are any comments for this page -->
<div ng-show="(comments.entries | filter: { pageTitle: filterString }).length>0">
	<legend><span class="glyphicon glyphicon-comment" style="font-size:0.8em"></span> Comments</legend>
		<table class="table table-condensed table-striped">
			<tbody>
				<tr ng:repeat="comment in comments.entries | filter: { pageTitle: filterString }| orderObjectBy:'timestamp':true | limitTo:quantity">
					<td class="col-sm-2">
						<a href="tst">{{comment.pageTitle}}</a><br>
						<span style="font-size:0.7em;">By: <a href="mailto:{{mail}}">{{comment.name}}</a> on {{comment.keen.timestamp | date:'dd MMM yyyy' }}</span>
					</td>
					<td>
						{{comment.message}}
					</td>
				</tr>
			</tbody>
		</table>
</div>