<!-- only show this block, if there are any comments for this page -->
<div ng-show="(comments.entries | filter: { pageTitle: filterString }).length>0">
	<legend><span class="glyphicon glyphicon-comment" style="font-size:0.8em"></span> Comments</legend>
	<div ng:repeat="comment in comments.entries | filter: { pageTitle: filterString }| orderObjectBy:'timestamp':true | limitTo:quantity">
		<table class="table table-condensed table-striped"">
			<tbody>
				<tr>
					<td class="col-sm-2">
						<a href="tst">{{comment.pageTitle}}</a>
						<small>By: <a href="mailto:{{mail}}">{{comment.name}}</a> on {{comment.keen.timestamp | date:'dd MMM yyyy' }}</small>
					</td>
					<td>
						{{comment.message}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>