<div class="modal-content">
  <div class="modal-header dialog-header-confirm">
	<h4 class="modal-title">
	  Keenio Master Key
	</h4>
  </div>
  <div class="modal-body">
	<span class="help-block">
		To delete a comment you need to provide the Keen IO master key. You can find it when you login into keen.io and choose "Show API Keys"...
	</span>
	<ng-form name="nameDialog" novalidate role="form">
	<div class="form-group input-group-lg" ng-class="{true: has-error}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
		<label for="course" class="control-label">Master Key:</label>
		<input type="text" ng-keyup="hitEnter($event)" ng-model="user.name" id="username" name="username" class="form-control ng-pristine ng-invalid ng-invalid-required" required/>
  </div>
  <div class="modal-footer">
	<button ng-click="cancel()" class="btn btn-default" type="button">Cancel</button>
	<button ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine" ng-click="save()" class="btn btn-primary" type="button" disabled="disabled">
		Save
	</button>
  </div>
  
{{this |json}}
</div>