<!doctype html>
<html ng-app="Demo">
<head>
	<meta charset="utf-8" />

	<title>
		Using $scope.$digest() As A Performance Optimization In AngularJS
	</title>

	<style type="text/css">
			a[ ng-click ] {
			cursor: pointer ;
			text-decoration: underline ;
		}

		p.apply,
		p.digest {
			background-color: #FAFAFA ;
			border: 3px solid #CCCCCC ;
			cursor: default ;
			float: left ;
			height: 75px ;
			line-height: 75px ;
			text-align: center ;
			width: 200px ;
		}

		p.apply {
			margin-right: 30px ;
		}

		p.apply.hot,
		p.digest.hot {
			background-color: #FFCCCC ;
			border-color: #FF3399 ;
		}

		p.logging {
			clear: both ;
		}
	</style>
</head>
<body ng-controller="MainCtrl">

	<h1>
		Services in AngularJS
	</h1>

	<!-- 
		Notice that both this P-tag and the next one both use ng-class to see CSS 
		classes based on the Model; however, the second P uses a child scope (created 
		by the bn-digest directive).
	-->
	<div>
		  <div ng-switch="isAuth()">
			<span ng-switch-when="false">Hello Guest!</span>
			<span ng-switch-when="true">Welcome back User</span>
		  </div>
		  <button ng-click="login()">Login</button>
		  <button ng-click="logout()">Logout</button>
	</div>

	<h2>Resources</h2>
	<a href="http://stackoverflow.com/questions/15380140/service-variable-not-updating-in-controller">Service variable not updating in controller</a>
	<a href="http://angular-tips.com/blog/2013/08/consuming-services/">Consuming Services</a>

	<!-- Load scripts. -->
	<script type="text/javascript" src="http://maltretieren.github.io/assets/js/jquery-2.1.0/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="http://maltretieren.github.io/assets/js/angular-1.3.0/angular.min.js"></script>
	<script type="text/javascript">

		// Create an application module for our demo.
		var app = angular.module( "Demo", [] );

		// -------------------------------------------------- //
		// -------------------------------------------------- //

		// I control the root of the application.
		app.controller("MainCtrl", function($scope, Auth) {
			  $scope.isAuth = Auth.isAuthenticated;
			  $scope.login = function() {
				// Do things before login
				Auth.login();
				// Do extra things after login
			  };
			  $scope.logout = Auth.logout; // No need for extra things
		});

		// -------------------------------------------------- //
		// -------------------------------------------------- //

		// Service 1
		app.service("Auth", function (Model1) {
			  return {
				login: function() {
				  Model1.loggedIn = true;
				},
				logout: function() {
				  Model1.loggedIn = false;
				},
				isAuthenticated: function() {
				  return Model1.loggedIn;
				}
			  };
		});
		
		// Service 2
		app.service("Service2", function ($scope, Model1) {
			 $scope.$watch(function() {
				return Model1.loggedIn;
			}, function(newVal, oldVal){
				console.log('hey, myVar has changed!');
			}); 
		});
		
		// Model 1
		app.service("Model1", function () {
			var loggedIn = false; // this is private
			var privateScope = new Scope();
			privateScope.loggedIn = loggedIn; // this is private
			
			privateScope.$watch(this.loggedIn, function() {
				console.log("smth. changed");
			});
		
		});
		
		// ---
		// PRIVATE METHODS.
		// ---
		 // I add a log item to the beginning of the given log.
		function addLogItem( log ) {
			var logItem = (
				"Executed: " + now() +
				" ( length: " + $scope.collection.length + " )"
			);
			log.splice( 0, 0, logItem );
		}
		 
		 
		// I return the current UTC milliseconds.
		function now() { 
			return( ( new Date() ).getTime() );
		}
 
	</script>

</body>
</html>