<div id="entry-list">

    <div style="">
        <input type="text" class="search form-control" placeholder="Search" />
    </div>

    <div style="" ng-controller="RatingCtrl">
        <table class="table table-striped" style="table-layout: fixed" >
            <thead>
            <tr>
                <th style="width:20%;"><span class="sort" data-sort="image">Preview</span></th>
                <th style="width:20%;"><span class="sort" data-sort="product">Product</span></th>
                <th style="width:20%;"><span class="sort" data-sort="description">Description</span></th>
                <th style="width:10%;"><span class="sort" data-sort="price">Price</span></th>
                <th style="width:10%;"><span class="sort" data-sort="link">Link</span></th>
                <th style="width:20%"><span class="sort" data-sort="rating">Rating</span></th>
            </tr>
            </thead>
            <tbody class="list">
            {% for post in site.tags.accessoire %}
            <tr>
                <td class="image"><img width="100px" src="{{ post.preview }}"></td>
                <td class="product"><a href="{{ post.url}}">{{ post.product }}</a></td>
                <td class="description">{{ post.description}}</td>
                <td class="price">{{ post.price }}</td>
                <td class="link"><a href="{{ post.link }}">LINK</a></td>
                <td class="rating"><div class="raty" id="{{ post.uuid }}" style="width:200px"></div></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<script type="text/javascript">

    var options = {
        valueNames: ['image', 'product', 'description', 'price', 'link', 'rating']
    };

    var entryList = new List('entry-list', options);

</script>